@import "tailwindcss";
/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@font-face {
  font-family: 'BigFont';
  src: url('/fonts/AldotheApache.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.BigFont {
  font-family: 'BigFont', sans-serif;
}

/* phone tilt animation */ 

.perspective {
  perspective: 1200px;
}

.phoneContainer {
  position: relative;
  margin-left: 20%;
  margin-top: -1%;
  display: inline-block;
  transform: rotateX(29deg) rotateZ(-55deg) rotateY(2deg);
 transform-style: preserve-3d;

}
.phoneShadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  filter: blur(8px);
  transform: translateZ(-50px) scale(1.1);
  z-index: -1;
}
.background{
background: linear-gradient(135deg, #0f0f10 0%, #1c1c24 40%, #0a0a0d 100%);
width: 100%;
clip-path:polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 5% 100%, 0% 95% )
}
.Box:hover{
  background: linear-gradient(135deg, #B5E48C, #99D98C, #D9ED92);
}


/* Zoom Parallax effect */
.container {
height: 200vh;
position: relative;
justify-content: center;
align-content: center;
display: flex;
width: 100%;
margin: auto;

}

.sticky_ {
position: sticky;
height: 100vh;
width: 100vw;
top: 12em;
}

.element {
width: 100%;
height: 50%;
top: 0;
padding-top: 5em;
position: absolute;
display: flex;
align-items: center;
justify-content: center;

}

.element .videoContainer {
width: 40vw;
height: 25vw;
position: relative;
border-radius: 100px;
transition: all 0.2s ease-in-out;
}

.element .videoContainer img {
object-fit: cover;
width: 100%;
height: 100%;
border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
.element .videoContainer {
  width: 50vw;
  height: 50vw;
  
}
}

@media (max-width: 480px) {
.element .videoContainer {
  width: 70vw;
  height: 70vw;
}
}
/* end of Zoom Parallax effect */