.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
left: 0;
  position: fixed;
   z-index: 50;
   padding: 1em;
  // height: 120px;
  // background-color: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(24px);
  // position: absolute;
  // top: 2.5rem;
  // z-index: 50;
  // padding: 0rem 4rem;
  // left: 50%;
  // transform: translateX(-50%);
  // clip-path: polygon(0% 25%, 2% 0%, 98% 0% ,100% 25%, 100% 75%, 98% 100%, 2% 100%, 0% 75%);

}

.button {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
 .burgerHome::before,
    .burgerHome::after{ 
      background-color:#fde7cc;
    }
     .burgerAbout::before,
    .burgerAbout::after{ 
      background-color:#000000;
    }
     .burgerContact::before,
    .burgerContact::after{ 
      background-color:#fde7cc;
    }
  .burger {
    position: relative;
    width: 30px;
    height: 1px;
    background-color: transparent;
    transition: all 0.3s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      transition: all 0.4s ease;
    }
   
    &::before {
      top: -5px;
    }

    &::after {
      top: 5px;
    }

    &.burgerActive {
      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  }
}
.navlinks{
   background: linear-gradient(135deg, #B5E48C, #99D98C, #D9ED92);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 40%;
  padding: 1em 0em;
  transition: all 0.3s ease;
  position:absolute;
  right: 5;
  top:15%;
  z-index: 999;
  

  h1{
    margin: 10px 0;
    color: #333;
    text-decoration: none;

    &:hover {
      color: #455ce9;
    }
  }
 
}
 .navlinksActive{
  opacity: 1;
  transform: translateY(0);
  z-index: 999;
  }
  .navlinksInactive{
    opacity: 0;
    transform: translateY(100);
  }

  .backgroundOverlayActive{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  .backgroundOverlayInactive{
    opacity: 0;
    transition: opacity 0.3s ease;
    
  }