

.paragraph {
  font-size: 2.8rem;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  font-weight: 600;
  width: 70%;
}

.word {
  display: inline-block;
  white-space: pre;
}

.shadow {
  position: absolute;
  opacity: 0.1;
  color: #2b2b2b;
}
